.headT table {  border-collapse: collapse;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 1%;}

.headT td { text-align: center;}             

.headT h1 { color: black;
            background-color: rgb(225, 223, 223);
            font-size: 95%;}

.headT h1:hover { color: rgb(243, 245, 247);
                    background-color: rgb(28, 29, 29);}
        
.bodyT table { margin-left: 10%;
            margin-right: 10%;
            border-collapse: collapse;}

.bodyT h1 { font-family: 'Times New Roman', Times, serif;
            font-size: 400%;
            color: rgb(173, 0, 0);
            padding-left: 5%;
            padding-bottom: 0px;
            padding-top: 0px;}

.bodyT h2 { font-family: 'Times New Roman', Times, serif;
            font-size: 250%;
            color: rgb(103, 104, 105);
            padding-left: 15%;
            padding-bottom: 0px;
            padding-top: 0px;}

.bodyT h3 { font-family: 'Times New Roman', Times, serif;
            font-size: 350%;
            color: rgb(173, 0, 0);
            padding-left: 5%;
            padding-right: auto;
            padding-bottom: 0px;
            padding-top: 0px;}

.Pao {font-family: 'Times New Roman', Times, serif;
        font-size: 200%;
        color: rgb(173, 0, 0);}

.port h3 { font-family: 'Times New Roman', Times, serif;
            font-size: 350%;
            color: rgb(173, 0, 0);
            padding-right: auto;
            padding-left: 0;}



.projTab table {margin-left: auto;
                margin-right: auto;
                border-collapse: collapse;
                margin-bottom: 5%;}